/*    This file is part of Face Memorizer.
 *
 *    Face Memorizer is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    Foobar is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with Face Memorizer.  If not, see <http://www.gnu.org/licenses/>.
 */

h1 {
	text-align: center;
}

div.template {
    display: none;
}

div.license {
    position: absolute;
    bottom: 0px;
    margin: 15px auto;
    left: 0px;
    right: 0px;
    text-align: center;
}

div.gameboard {
    	text-align: center;
}

div.questionboard {
    /*border: solid black;*/
    width: 180px;
    height: 300px;
    padding: 10px;
    position: relative;
    float: left;
}

div.choice_answer_area {
    text-align: right;
}

p.correct_answer {
    text-align: right;
    padding: 0px 10px;
}

div.question_area {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

div.response_area {
    clear: both;
}

div.questionboard div.choice_answer_area div.choice_answer {
    padding: 5px;
    margin: 1px;
}

div.questionboard div.choice_answer_area div.correct_answer {
    border: 3px solid grey;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 2px;
    margin: 1px;
}

div.questionboard div.choice_answer_area div.right_answer {
    border: 3px solid green;
    padding: 2px;
    margin: 1px;
}

div.questionboard div.choice_answer_area div.wrong_answer {
    border: 3px solid red;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 2px;
    margin: 1px;
}

div.questionboard div.open_answer {
    padding: 5px;
    margin: 1px;
}

div.questionboard div.right_answer {
    border: 3px solid green;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 2px;
    margin: 1px;
}

div.questionboard div.wrong_answer {
    border: 3px solid red;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 2px;
    margin: 1px;
}

